<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/waiter_webapp.css">

    <title>Shoe_Api</title>
  </head>
  <center><body>

    {{{body}}}
  </body><center>
</html>
